.tradechart-buysell-buttons{
	
	/*z-index: 1;*/
	position:absolute;
  	top: 65px;
  	left: 0;
  	height: 5em;
  	padding:8px;
  	color: #fff;
  	background-color: #252d47;
}
.tradechart-current{
	position:absolute;
	top: 15px;
	left: 0;
	display: flex;
	width: 80% !important;

}
.decinc-btn .field {
    width: 100% !important;
    height: 100% !important;
}
.tradechart-current-icon{

	
	background-color: #252d47;
	padding: 5px;
	height: 3em;
	color: #fff;
    flex-grow: 0.2;
	display: flex;

}
.price-change{
	color: green;
}
.tradechart-current-price{


	background-color: #252d47;
	margin-left: 4px;
	padding: 5px;
	height: 3em;
	color: #fff;
	flex-grow: 0.2;
	display: flex;
	justify-content: space-around;
}
.tradechart{
	width: 99%;
	height: 99%;
	position: absolute;
  	top: 0;
  	left: 0;
}
.chart-margin-lots{
	margin-left: 5px;
	margin-right: 5px;
}
.chart-margin-text{
	color:green;
}
.margin-chart-container-small{
background-color: #1a1e30;
text-align: center;
}
.lots-margin-mini{
	background-color: #252d47;}
.decinc-btn .field{
	width: 100% !important;
	height: 100% !important;
}
.select-trade-item{
	width: 20% !important;
	z-index: 5;
	text-align: center;
}
.selected-item{
background-color: #384368;
}
.stock-select{
	background-color: #384368;
}
.css-1sflke2-menu{
	background-color: #384368;

}
.trade-icon{
	width: 28px;
	height: 28px;
}